body{
    background-color: rgba(149, 130, 130, 0.391);
}

.calculator{

    background-color: rgb(249, 214, 18);
    display: grid;
    border-style: solid;
    height: 10cm;
    width: 10cm;
    margin-left: 20cm;
    margin-top: 8cm;
    
}

#display{
    background-color: rgb(195, 192, 188);
}

.calculator-keys{
    display: grid;
    grid-template-columns: 90px 90px 100px 97px;
}

button{
    border-radius: 15%;
    background-color: rgb(233, 223, 223);
}

 
